* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 100px 1fr 100px;
}


/* BARRA DE NAVEGAÇÃO */

.header {
    grid-area: header;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
}

.header img {
    margin-left: 20px;
    width: 80px;
    height: 100px;
    display: flex;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 380px;
    align-items: center;
    font-family: 'Bivoac Reguler', sans-serif;
}

.nav p {
    border-bottom: 5px solid transparent;
    transition: .5s;
}

.nav p:hover {
    border-bottom: 5px solid white;
}

.entrar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 270px;
    align-items: center;
    font-family: 'Bivoac Reguler', sans-serif;
}

.entrar p {
    border-bottom: 5px solid transparent;
    transition: .5s;
}

.entrar p:hover {
    border-bottom: 5px solid white;
}


/* CORPO DA PAGINA */
.main {
    grid-area: main;
    width: 100%;
    height: 100%;
    background-image: url(img/fundo.png);
    background-image: cover;
    grid-template-areas: "esquerdo direito";
    grid-template-columns: 780px 1fr;
    display: flex;
}

/* LADO ESQUERDO */
.esquerdo {
    grid-area: esquerdo;
    width: 100%;
    height: 100%;
    margin-left: 130px;
    font-family: 'Vertexio', sans-serif;
    font-weight: bold;
}

.intro {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 75px;
    font-family: 'Vertexio', sans-serif;
    font-weight: bold;
    font-size: 65px;
}

.intro u {
    color: rgba(221, 84, 84, 0.601);
}

.text {
    font-size: 20px;
    color: rgba(116, 21, 21, 0.863);
    width: 200px;
}

.text:hover {
    color: rgba(126, 58, 58, 0.863);
    transition: 0.5s;
    transform: scale(1.1);
    transition: 0.5s;
}

.quadrado {
    margin-top: 60px;
    display: flex;
    gap: 8px;
    justify-content: end;
}

.quadrado img {
    width: 25px;
}


/* LADO DIREITO */
.direito {
    grid-area: direito;
    width: 100%;
    height: 500px;
}

.rosa {
    display: flex;
    height: 430px;
    margin-left: 85px;
    margin-top: 20px;
}


.azul {
    height: 500px;
    display: flex;
    position: relative;
    left: 300px;
    bottom: 400px;
}

/* BARRA DE BAIXO */
.footer {
    grid-area: footer;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
}

.footer h3 {
    font-family: 'Vertexio', sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.footer hr {
    border: 0px;
    height: 7px;
    background: black;
    margin-bottom: 2px;
}

.marcas {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-around;
}

.footer img {
    height: 80%;
}